@import '../foundation/components/global';

/* FONTES */
@font-face {
  font-family: "Open Sans Bold";
  src: url("../../fonts/open-sans/open-sans-bold.eot");
  src: url("../../fonts/open-sans/open-sans-bold.eot?#iefix") format('embedded-opentype'),
  url("../../fonts/open-sans/open-sans-bold.woff2") format('woff2'),
  url("../../fonts/open-sans/open-sans-bold.woff") format('woff'),
  url("../../fonts/open-sans/open-sans-bold.ttf") format('truetype'),
  url("../../fonts/open-sans/open-sans-bold.svg#open-sans-bold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../../fonts/open-sans/open-sans-light.eot");
  src: url("../../fonts/open-sans/open-sans-light.eot?#iefix") format('embedded-opentype'),
  url("../../fonts/open-sans/open-sans-light.woff2") format('woff2'),
  url("../../fonts/open-sans/open-sans-light.woff") format('woff'),
  url("../../fonts/open-sans/open-sans-light.ttf") format('truetype'),
  url("../../fonts/open-sans/open-sans-light.svg#open-sans-light") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ICONS */

@font-face {
  font-family: "fontello";
  src: url('../../fonts/fontello.eot?35672852');
  src: url('../../fonts/fontello.eot?35672852#iefix') format('embedded-opentype'),
  url('../../fonts/fontello.woff?35672852') format('woff'),
  url('../../fonts/fontello.ttf?35672852') format('truetype'),
  url('../../fonts/fontello.svg?35672852#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?35672852#fontello') format('svg');
  }
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-menu:before { content: '\e800'; } /* '' */
.icon-bell:before { content: '\e801'; } /* '' */
.icon-megaphone:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-cancel-circled:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-attach:before { content: '\e807'; } /* '' */
.icon-reply-all:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-bag:before { content: '\e80c'; } /* '' */
.icon-tools:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */

/* CONFIGURACOES GERAIS */
$body-bg-color: #cddce4;
$menu-bg-color: #061c29;
$font-bold: "Open Sans Bold";
$text-color: #4c616b;

/* ICONS */

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: none;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 20px;
}

/* HR */

hr {
  background-color: #678fa4;
  width: 100%;
  height: 1px;
  border: none;
  clear: both;
  margin-bottom: 30px;
}

/* LINKS */

a {
  color: $primary-color;
}

/* BOTOES */
button,
.button {
	text-transform: uppercase;
	font-family: $font-bold;
	font-size: 0.9rem;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

/* GRID */
.row {
	max-width: 100%;
}

/* BODY */
body {
  height: auto;
	background-color: $body-bg-color;
}

/* MENU */ 
.menu {
	background-color: $menu-bg-color;
  padding: 0;
  color: #53788b;
  height: 100%;
  position: fixed;

  //SCROLLBAR
  .mCSB_inside > .mCSB_container {
    margin: 0;
  }

  .mCS-3d-thick.mCSB_scrollTools
  .mCSB_dragger .mCSB_dragger_bar,
  .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
  .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #071c28;
  }

  .row {
    padding: 20px;

    &.topo {
      padding: 15px 10px;
    }

    h4 {
      color: $primary-color;
      font-size: 18px;
      display: inline-block;
      font-weight: normal;
      margin-bottom: 10px;
      margin-left: 5px;

      span {
        color: #466f84;
        margin-left: 5px;
      }

    }

    ul {

      li {
        display: block;
        font-size: 14px;
        padding: 15px 0;
        border-top: 1px solid #09202b;
        border-bottom: 1px solid #133140;

        &:first-child {
          border-top: none;
          padding-top: 5px;
        }

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }

        a {
          color: #186689;
        }
      }
    }
  }

  .icon-menu {
    font-size: 30px;
    color: #214c63;
  }

  /* NOTIFICACOES */
  .notificacoes {
    border-top: 4px solid #061a24;
    background: #0b2532;
  }

  /* ULTIMOS ANUNCIOS */

  .ultimos-anuncios {

    ul {
      li {
        padding: 15px;
        width: 100%;
        float: left;

        &:first-child {
          padding-top: 15px;
        }

        &:last-child {
          padding-bottom: 15px;
        }

        p {
          color: #c0d4de;
          margin: 0;
        }

        .desc {
          color: #2b7183;
          font-size: 12px;
        }

        .status {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #699417;
          border-radius: 50%;
          margin-right: 15px;
        }

        [class^="icon-"]:before, [class*=" icon-"]:before {
          margin: 0;
        }

        .icon-cancel-circled:before {
          color: #ea3f24;
        }

        &:hover {
          background-color: #02131b;
          cursor: pointer;
        }

        &.disabled {

          p {
            opacity: .5;
          }
          .status {
            background-color: #c1524d;
          }
        }

      }

    }
  }
}

/* CONFIG TOPO */

.config {

  .icon-cog {
    font-size: 30px;
    color: $primary-color;
    margin-top: 10px;
    cursor: pointer;
  }

  ul#config {
    background-color: #0b2532;
    border-radius: $global-radius;

      li {
        font-size: 15px;
        color: #507588;

          a {
            color: #507588;
            text-decoration: none;
            border-top: 1px solid #09202b;
            border-bottom: 1px solid #133140;
          }

        &:hover {
          background-color: #17323f;
        }

        &:first-child {
          padding: 10px;
          font-size: 18px;
          cursor: default;

          &:hover {
            background-color: transparent;
          }
        }
      }
  }

  .f-dropdown.drop-left:before {
    border-color: transparent transparent transparent #17323f;
  }
}

/* CONTEUDO */

#conteudo {

    h2 {
      color: $text-color;
      font-size: 1.5rem;
      margin: 11px 0 13px;

      strong {
        font-family: $font-bold;
        color: $primary-color;
      }
    }

    .box {
      width: 100%;
      background-color: #fff;
      padding: 10px;
      margin: 10px 0;
      border-radius: $global-radius;
      float: left;
    }

    h3 {
      font-size: 21px;
      color: #4c616b;

      &.destaque {
        color: $primary-color;
      }
    }

    .button {
      margin: 15px 0 0;
    }

    /* GRAFICO */

    .chart {
      position: relative;
      display: block;
      width: 200px;
      height: 200px;
      text-align: center;
      margin: auto;

        canvas {
          position: absolute;
          top: 0;
          left: 0;
        }
    }

    .percent {
      display: inline-block;
      z-index: 2;
      margin-top: 70px;
      color: #204659;

        span {
          font-size: 20px;
        }
    }
}

/* FOOTER */

footer {
  width: 100%;
  margin-top: 40px;

  p {
    text-align: right;
    font-size: 12px;
    color: #071c28;
  }
}


/* EM BREVE */

.em-breve {
  text-align: center;
  font-size: 30px;
  color: #b1bbc9;
  margin-top: 10px;
  cursor: default;
}