/* FONTES */
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/open-sans/open-sans-bold.eot");
  src: url("../fonts/open-sans/open-sans-bold.eot?#iefix") format('embedded-opentype'),
  url("../fonts/open-sans/open-sans-bold.woff2") format('woff2'),
  url("../fonts/open-sans/open-sans-bold.woff") format('woff'),
  url("../fonts/open-sans/open-sans-bold.ttf") format('truetype'),
  url("../fonts/open-sans/open-sans-bold.svg#open-sans-bold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/open-sans/open-sans-light.eot");
  src: url("../fonts/open-sans/open-sans-light.eot?#iefix") format('embedded-opentype'),
  url("../fonts/open-sans/open-sans-light.woff2") format('woff2'),
  url("../fonts/open-sans/open-sans-light.woff") format('woff'),
  url("../fonts/open-sans/open-sans-light.ttf") format('truetype'),
  url("../fonts/open-sans/open-sans-light.svg#open-sans-light") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/open-sans/open-sans-regular.eot");
  src: url("../fonts/open-sans/open-sans-regular.eot?#iefix") format('embedded-opentype'),
  url("../fonts/open-sans/open-sans-regular.woff2") format('woff2'),
  url("../fonts/open-sans/open-sans-regular.woff") format('woff'),
  url("../fonts/open-sans/open-sans-regular.ttf") format('truetype'),
  url("../fonts/open-sans/open-sans-regular.svg#open-sans-regular") format('svg');
  font-weight: normal;
  font-style: normal;
}


//VARIAVEIS
$azul: #186689;
$azul_escuro: #033145;
$amarelo: #e4d439;

$primary-color: #ea3f24 !default;   // laranja
$secondary-color: #e7e7e7 !default; // cinza
$tertiary-color: #186689 !default; // azul
$detail-color: #f4d03e !default; //amarelo
$link-color: #033145 !default; //azul mais escuro
$border-form: #ced4d7 !default; //borda cinza do form


//ERROS FORMS
ul.errors h3 {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
ul.errors li.error {
    list-style-type: circle;
    color: #f04124;
}
h3.success {
    color: #186689;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

h3.success.newsletter {
    font-size: 17px;
    padding-bottom: 15px;
}

//TAGS

a {
	color: #fff;
	text-decoration: none;
	outline: none;
	transition: all .5s;

	&:hover {
		color: $primary-color;
	}
}

strong {
	font-family: 'Open Sans Bold';
	font-weight: normal;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		display: inline-block;
	}
}

p {
	font-size: 20px;
	color: #565656;
	font-family: 'Open Sans Regular';
}

header,
section,
footer {
	width: 100%;
	float: left;
}

hr {
	background: #cbcbcb;
	border: none;
	width: 100%;
	height: 1px;
	margin: 25px 0;
	float: left;
}


//CLASSES GERAIS
.center {
	display: block;
	float: none;
	margin: auto;
}

.button {
	border-radius: 7px;
	font-family: 'Open Sans Bold';
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 10px;
	border: 3px solid $primary-color;
	padding: 15px 10px;
	width: 200px;

	&.inverse {
		background: none;
		color: $primary-color;

		&:hover {
			background: $secondary-color;
		}
	}
}

#termos {

	max-height: 500px;
	overflow-y: scroll;

	div.title {
		text-align: center;
		float: left;
		width: 100%;

		h2 {
			color: #fff;
			background: $tertiary-color;
			display: inline-block;
			text-transform: uppercase;
			font-size: 38px;
			padding: 0 20px;
			margin: 35px auto 50px;
		}
	}

	p {
		font-size: 16px;
		text-align: justify;
		margin-bottom: 30px;
	}
}

//TOPO
#topo {
	background: url('../img/topo-home.jpg') center top no-repeat;
	background-size: auto 100%;
	min-height: 100%;
	padding-top: 10px;

	h2 {
		text-align: center;
		color: #e5e5e5;
		font-size: 38px;
		text-transform: uppercase;
		margin: 100px 0 70px;

		span {
			background: $azul;
			padding: 0 20px;
			display: inline-block;
			margin-bottom: 5px;
		}
	}

	form {
		.search {
			border: none;
			outline: none;
			border-radius: 50px;
			background: rgba(255,255,255,.15) url('../img/lupa-busca.png') right 20px center no-repeat;
			border: 3px solid #c4be48;
			padding: 0 25px;
			line-height: 30px;
			font-family: 'Open Sans Regular';
			font-size: 22px;
			color: #033145;
			height: 60px;

			&::-webkit-input-placeholder {
			   font-family: 'Open Sans Regular';
			   font-size: 22px;
			   color: #033145;
			}

			&:-moz-placeholder {
			   font-family: 'Open Sans Regular';
			   font-size: 22px;
			   color: #033145;
			}

			&::-moz-placeholder {  
			   font-family: 'Open Sans Regular';
			   font-size: 22px;
			   color: #033145;
			}

			&:-ms-input-placeholder {    
			   font-family: 'Open Sans Regular';
			   font-size: 22px;
			   color: #033145;
			}
		}

		.find {
			text-transform: uppercase;
			color: #fff;
			background: $primary-color;
			border: none;
			border-radius: 40px;
			border-right: 5px solid darken($primary-color, 15);
			border-bottom: 5px solid darken($primary-color, 15);
			padding: 22px 28px;
			font-size: 19px;
			font-family: 'Open Sans Bold';
			outline: none;
			transition: all .5s;

			&:hover {
				background: darken($primary-color, 15);
				border-color: $primary-color;
			}
		}
	}

	.navegue {
		display: block;
		text-align: center;
		font-size: 24px;
		font-family: 'Open Sans Regular';
		color: $azul;
		text-decoration: none;
		margin: 10px 0 30px;

		span {
			display: block;
			background: url('../img/sprite.png') no-repeat -1px -1px;
			width: 55px;
			height: 35px;
			margin: 10px auto 0;
		}
	}
}

//CATEGORIAS
#categorias {
	padding-bottom: 30px;

	h3 {
		text-align: center;
		color: #fff;
		font-size: 38px;
		text-transform: uppercase;
		margin: 30px 0;

		span {
			background: $primary-color;
			padding: 0 20px;
			display: inline-block;
			margin-bottom: 5px;
		}
	}		

	ul {

		li {
			display: inline-block;
			margin-top: 20px;
			height: 270px;
			transition: all .5s;
			overflow: hidden;

			.box {
				display: block;
				background: #e5e5e5;
				width: 100%;
				height: 100%;
				color: $primary-color;
				text-transform: uppercase;
				font-size: 24px;
				font-family: 'Open Sans Bold';
				text-decoration: none;
				text-align: center;
				line-height: 26px;
				float: left;
				position: relative;
				cursor: pointer;

				span {
					background: url('../img/sprite.png') no-repeat -2px -75px;
					width: 194px;
					height: 132px;
					display: block;
					margin: 15px auto;

					&.computadores {
						margin: 30px auto 25px;
					}

					&.dispositivos {
						background-position: -199px -1px;
						width: 144px;
						height: 160px;
					}

					&.celulares {
						background-position: -347px -4px;
						width: 104px;
						height: 162px;
					}

					&.videogames {
						background-position: -4px -213px;
						width: 170px;
						height: 160px;
					}

					&.multimidia {
						background-position: -203px -170px;
						width: 166px;
						height: 119px;
						margin: 40px auto;
					}

					&.softwares {
						background-position: -372px -170px;
						width: 162px;
						height: 162px;
						margin: 15px auto 20px;
					}

					&.redes {
						background-position: -178px -293px;
						width: 168px;
						height: 114px;
						margin: 40px auto 45px;
					}

					&.outros {
						background-position: -349px -336px;
						width: 149px;
						height: 149px;
						margin: 30px auto 20px;
					}

					&:after {
						background: url('../img/sprite.png') no-repeat -2px -375px;
						width: 84px;
						height: 84px;
						display: block;
						content: "";
						position: absolute;
						top: 50%;
						margin-top: -82px;
						left: 50%;
						margin-left: -42px;
						opacity: 0;
						transition: all .5s;
					}
				}

				&:hover {
					span:after {
						opacity: 1;
					}
				}
			}

			&.some {
				transform: scale(0.001);
				opacity: 0;
			}

			&.ativo {
				width: 100%;
				opacity: 1;
				transition: all .5s;
				transform: scale(1);
				background: #e5e5e5;
				padding-top: 40px;
				overflow: visible;

				.box {
					float: left;
					margin-left: 15px;
					color: $azul_escuro;					

					span {
						margin: 0 auto 20px !important;

						&:after {
							left: 50%;
							top: 50%;
							margin-top: -82px;
	  						margin-left: -42px;
		  					opacity: 1;
						}
					}
				}

				.voltar {
					position: absolute;
					right: 5px;
					top: 5px;
					color: $primary-color;
				}

				form {
					float: left;
					width: 70%;

					.selectize-control {
						float: left;
						width: 100%;
						border-radius: 30px;
						border: 3px solid #033145;
						margin-bottom: 10px;
					}

					.selectize-input {
						background: none;
						border: none;
						box-shadow: none;
						width: 100%;

						input, .item {
							padding-left: 20px !important;
							line-height: 40px !important;
							font-family: 'Open Sans Regular';
						   	font-size: 24px;
						   	color: #033145;
						   	background: none;
							border: none;
							box-shadow: none;
							width: 100% !important;
							margin-bottom: 0;

							&::-webkit-input-placeholder {
							   font-family: 'Open Sans Regular';
							   font-size: 24px;
							   color: #033145;
							}

							&:-moz-placeholder {
							   font-family: 'Open Sans Regular';
							   font-size: 24px;
							   color: #033145;
							}

							&::-moz-placeholder {  
							   font-family: 'Open Sans Regular';
							   font-size: 24px;
							   color: #033145;
							}

							&:-ms-input-placeholder {    
							   font-family: 'Open Sans Regular';
							   font-size: 24px;
							   color: #033145;
							}
						}
					}
				}

				.recentes {
					text-align: center;
					font-size: 26px;
					font-family: 'Open Sans Regular';
					color: #033145;
					text-transform: uppercase;
				}
			}
		}
	}
}

//FUNCIONA
#como-funciona {
	background: #f4f4f4;

	h4 {
		text-align: center;
		color: #e5e5e5;
		font-size: 38px;
		text-transform: uppercase;
		margin: 30px 0 70px;

		span {
			background: $azul;
			padding: 0 20px;
			display: inline-block;
			margin-bottom: 5px;
		}
	}

	label {
		color: #033145;
		text-transform: uppercase;
		font-size: 18px;
		font-family: 'Open Sans Bold';
		margin: 30px 0 10px;
	}

	form {
		border: 3px solid $primary-color;
		border-radius: 5px;

		input[type="text"] {
			width: 46%;
			height: 30px;
			display: inline-block;
			float: left;
			border: none;
			border-right: 1px solid $azul;
			background: none;
			box-shadow: none;
			margin: 10px 0;
			color: $primary-color;
			font-size: 18px;
			text-transform: uppercase;
			font-family: 'Open Sans Bold';

			&::-webkit-input-placeholder {
			   color: $primary-color;
			   font-size: 18px;
			   text-transform: uppercase;
			   font-family: 'Open Sans Bold';
			}

			&:-moz-placeholder {
			   color: $primary-color;
			   font-size: 18px;
			   text-transform: uppercase;
			   font-family: 'Open Sans Bold';
			}

			&::-moz-placeholder {
			   color: $primary-color;
			   font-size: 18px;
			   text-transform: uppercase;
			   font-family: 'Open Sans Bold';
			}

			&:-ms-input-placeholder {  
			   color: $primary-color;
			   font-size: 18px;
			   text-transform: uppercase;
			   font-family: 'Open Sans Bold';
			}
		}

		input[type="submit"] {
			background: none;
			border: none;
			color: $azul;
			text-transform: uppercase;
			font-size: 18px;
			color: #033145;
			font-family: 'Open Sans Bold';
			margin: 10px 0;
		}
	}
}

//RODAPE

footer {

	width: 100%;
	height: 610px;
	background: url('../img/bg-rodape.jpg') center 105px no-repeat;

	.compartilhe {
		background: #e3e3e3;
		width: 100%;
		height: 105px;
		float: left;
		text-align: center;
		padding-top: 30px;
		margin-bottom: 60px;

		p {
			text-transform: uppercase;
			color: $primary-color;
			font-size: 24px;
			font-family: 'Open Sans Bold';
			display: inline-block;
			vertical-align: 7px;
			margin: 0 10px;

		}

		ul {
			display: inline-block;

			li {
				display: inline-block;

				span {
					background: url('../img/sprite.png') no-repeat -1px -37px !important;
					width: 20px;
					height: 36px;
					margin: 0 8px;
					display: block;
				}

				.twitter span {
					background-position: -27px -37px !important;
					width: 37px;
					height: 30px;
				}

				.instagram span {
					background-position: -64px -1px !important;
					width: 34px;
					height: 34px;
				}

				.mais span {
					background-position: -67px -36px !important;
					width: 32px;
					height: 36px;
					margin-right: 30px;
				}
			}
		}
	}

	.logo-rodape {
		margin-top: 70px;
	}

	.texto {

		nav {
			ul {
				padding: 0;
				
				li {
					color: #f1f1f1;
					margin-bottom: 5px;
					font-size: 18px;
					display: block;

					&:first-child {
						text-transform: uppercase;
						font-family: 'Open Sans Bold';
						font-size: 24px;
					}
				}
			}
		}

		p {
			color: #fff;
			font-size: 18px;
			font-family: 'Open Sans Regular';

			a {
				text-transform: uppercase;
				text-align: center;
				display: block;
				font-size: 22px;
				font-family: 'Open Sans Bold';
			}
		}
	}
}

/* INTERNAL */

.internal {
	background-color: #f4f4f4;

	#topo {
		min-height: 100px;
		background: $detail-color;

		header {
			float: none;

			img {
				float: left;
			}
		}

		form {
			margin-top: 15px;

			.search {

				&::-webkit-input-placeholder {
				   font-size: 14px;
				}

				&:-moz-placeholder {
				   font-size: 14px;
				}

				&::-moz-placeholder {  
				   font-size: 14px;
				}

				&:-ms-input-placeholder {    
				   font-size: 14px;
				}
			}

			.find {
				font-size: 14px;
				padding: 15px;
			}
		}

		.menu {
			display: inline-block;
			text-transform: uppercase;
			font-family: 'Open Sans Bold';
			color: $link-color;
			margin-top: 30px;

			span {
				display: inline-block;
				background: url('../img/sprite.png') no-repeat -101px -1px;
				width: 21px;
				height: 15px;
				vertical-align: -1px;
			}
		}
	}

	div.title {
		text-align: center;
		float: left;
		width: 100%;

		h2 {
			color: #fff;
			background: $tertiary-color;
			display: inline-block;
			text-transform: uppercase;
			font-size: 38px;
			padding: 0 20px;
			margin: 35px auto 50px;

			&.cmm {
				background: $primary-color;
			}
		}
	}
	
	section.row {
		float: none;
		padding-bottom: 70px;

		p {
			margin: 20px 0 10px;
		}
	}

	&.about {
		.comunidade {

			img {
				width: 100%;
				max-width: 600px;
				margin: auto;
				display: block
			}

			.button {
				margin-right: 15px;
			}
		}
	}

	&.contact {
		form {
			input[type="text"],
			textarea,
			.select {
				border-radius: 20px;
				border: 3px solid $border-form;
				padding: 0 25px;
				background: transparent;
				resize: none;
				line-height: 50px;
				height: 58px;
				font-size: 24px;
				color: $link-color;
				font-family: "Open Sans Regular";

				&::-webkit-input-placeholder {
				   	font-size: 24px;
					color: $link-color;
					font-family: "Open Sans Regular";
				}

				&:-moz-placeholder {
					font-size: 24px;
					color: $link-color;
					font-family: "Open Sans Regular";
				}

				&::-moz-placeholder {  
				   	font-size: 24px;
					color: $link-color;
					font-family: "Open Sans Regular";
				}

				&:-ms-input-placeholder {    
				   	font-size: 24px;
					color: $link-color;
					font-family: "Open Sans Regular";
				}
			}

			textarea {
				height: 120px;
			}

			.select {
				margin: 0 0 1rem 0;
				overflow: hidden;
				padding: 0;

				&:after {
					content: "";
					background: url('../img/sprite.png') no-repeat -101px -19px #f3f3f3;
					width: 15px;
					height: 8px;
					position: absolute;
					top: 25px;
	    			right: 25px;
				}

				select {
					margin: 0;
					border: none;
					outline: none;
					height: 50px;
					text-indent: 10px;
					background: none;
					font-size: 24px;
					color: $link-color;
					font-family: "Open Sans Regular";
				}
			}

			input[type="submit"] {
				text-transform: uppercase;
				color: #fff;
				background: $primary-color;
				border: none;
				border-radius: 40px;
				border-right: 5px solid darken($primary-color, 15);
				border-bottom: 5px solid darken($primary-color, 15);
				padding: 13px 21px;
				font-size: 18px;
				font-family: 'Open Sans Bold';
				outline: none;
				transition: all .5s;

				&:hover {
					background: darken($primary-color, 15);
					border-color: $primary-color;
				}
			}
		}

		section.row {
			
			p {
				margin-bottom: 40px;
			}

			img.fale {
				width: 100%;
				max-width: 600px;
			}
		}
	}

	&.faq {
		.title {
			h3 {
				color: $primary-color;
				text-transform: uppercase;
				font-size: 38px;
				font-family: 'Open Sans Bold';
				margin: 30px 0;
			}

			.button {
				background: none;
				color: $primary-color;
				font-size: 24px;
				font-family: 'Open Sans Bold';
				width: 315px;
				padding: 20px;

				&:hover {
					background: $primary-color;
					color: #fff;
				}
			}
		}
	}
}

//ACCORDION

.accordion {
	margin-top: 30px;

	.accordion-navigation {
		margin-bottom: 20px !important;

		a {
			background: none;
			border: 3px solid $border-form;
			border-radius: 50px;
			position: relative;
			color: $link-color;
			font-size: 24px;
			font-family: "Open Sans Regular";
			padding: 8px 50px;

			&:after {
				content: "";
				background: url('../img/sprite.png') no-repeat -101px -19px;
				width: 15px;
				height: 8px;
				position: absolute;
				top: 25px;
				right: 25px;
			}
		}


		&.active {
			a {
				background: $link-color;
				border-color: $link-color;
				color: #fff;

				&:after {
					background-position: -101px -31px;
				}
			}
		}

		.content {
			background: none !important;
			padding: 0;
		}
	}
}